.topNav {
  box-shadow: 0 5px 15px #cbced3;
  height: calc(20px + 20px);
  margin-bottom: 10px;
  padding-top: 20px;
  width: 100vw;
}

.topNav > a {
  color: #0f3c84;
  font-weight: bold;
  margin: 5px 50px;
  text-decoration: none;
  text-transform: uppercase;
}
a.active {
  border-bottom: 1px solid #0dd9e0;
  color: #0dd9e0;
  padding-bottom: 5px;
}
